<!DOCTYPE html>
<html>
<head>
	<title>Club directory app</title>
	<link href="css/style.css" rel="stylesheet" />
</head>
<body>
	
	<div id="wrapper">
		<h1>Interactive Directory</h1>
		<div class="tools">
			Search:<br/>
			<input type="text" id="searchBox" /><br/><br/>
			Filter:
			<div id="filters"></div>
			<div id="count"></div>
		</div>
		<ul id="listing"></ul>
	</div>
	
	<script type="text/template" id="person-template">
		<span class="list-header"><%= clubname %> (<%= category %>)</span>
		<div class="details">
			phone: <%= phone %><br/>
			email: <a href="mailto:<%= email %>"><%= email %></a><br />
			website: <%= website %><br />
		</div>
	</script>
	
	<script src="js/data.json" type="text/javascript"></script>
	
	<script data-main="js/main" src="js/libs/require/require.js"></script>
	
	
</body>
</html>